<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>优惠券信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/style/adminStyle.css"  rel="stylesheet" type="text/css">
    <script src="/js/jquery.js"></script>
    <script src="/js/public.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i></i><em>优惠券列表</em></span>
        <span class="modular fr"><a th:href="@{/coupon/add}" class="pt-link-btn" style="text-decoration: none">+添加优惠券</a></span>
    </div>
    <table class="list-style Interlaced">
        <thead >
        <tr>
            <th class="center">优惠券类型</th>
            <th class="center">描述</th>
            <th class="center">满减条件</th>
            <th class="center">减少金额</th>
            <th class="center">优惠券数量</th>
            <th class="center">图片地址</th>
            <th colspan="2" class="center"> 操作</th>
        </tr>
        </thead>
        <tbody class="center">
        <tr th:each="c:${coupons}">
            <td th:text="${c.coupon}"></td>
            <td th:text="${c.describes}"></td>
            <td th:text="${c.toplimit}"></td>
            <td th:text="${c.amount}"></td>
            <td th:text="${c.numbers}"></td>
            <td th:text="${c.icon}"></td>
            <td><button class="btn btn-warning"><a th:href="@{/coupon/add/}+${c.coupon}" style="text-decoration: none ;color: white">修改</a></button></td>
            <td><button class="btn btn-danger "><a class="btn-del" th:attr="del_uri=@{/coupon/add/}+${c.coupon}" style="text-decoration: none ;color: white" >删除</a></button></td>
        </tr>
        </tbody>
    </table>
    <form action="" method="post" id="advDelForm">
        <input type="hidden" name="_method" value="delete">
    </form>

        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(".btn-del").click(function(){
            if (confirm("确定删除吗？")) {
                $("#advDelForm").attr("action",$(this).attr("del_uri")).submit();
            }
            return false;
        })
    })
</script>
</body>
</html>